body,html {
  height: 100%;
  margin: 0;
}

#map{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index:1;
  opacity: 1;
  cursor: default;
}

#heatmap {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  opacity: 1;
}

#pointmap {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  opacity: 1;
}

#windmap {
  position: absolute;
  pointer-events: none;
  z-index: 4;   
  opacity:1;
  
}

/* Overlay */
#overlay {
  position:absolute;
  z-index: 999;
  width:100%;
  height: 100%;
  pointer-events: none;      
}

  /* search box */
#search_box{
  position:absolute;
  top:10px;
  left:10px;
  pointer-events: auto;
}

  /* control box */
#control_box{
  position:absolute;
  right:30px;
  top:30px;
  opacity: 0.8;     
  pointer-events: auto;
  border-radius:3px;
  width:250px;
  -ms-user-select: none; 
  -moz-user-select: -moz-none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  user-select:none;  
}

#weather_box{
  background:white;
  border-radius:3px;
  box-shadow: 2px 2px 2px 2px gray;
}

.h7{
  padding-left:20px;
}

.radio_label{
  font-size:5px  !important;
  padding:0  !important;
}

#network_box{
  background:white;
  margin-top:30px;
  border-radius:3px;
  box-shadow: 2px 2px 2px 2px gray;
}

#wind_box{
  background:white;
  margin-top:30px;
  border-radius:3px;
  box-shadow: 2px 2px 2px 2px gray;
}

#dust_std_box{
  background:white;
  margin-top:30px;
  border-radius:3px;
  box-shadow: 2px 2px 2px 2px gray;
}
.dust_std_btn{
  font-size:10px;
  width:50px;
  
}
.test123{
  font-size:13px;
  font-weight:bold;
}
  /* bottom box */
#bottom_box{
  position:absolute;
  bottom:30px;
  pointer-events: auto;
  width:90%;
  height:auto;   
  margin-left:20px;
  -ms-user-select: none; 
  -moz-user-select: -moz-none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  user-select:none;
}

    /* timeline control box */
#timeline_control_box{
  width:600px; 
  height:30px; 
  background:gray;
}

#timeline_button_box{
  display:inline-block; 
  width:100px; 
  height:30px; 
  float:left;
}

#timeline_button{
  display:inline-block; 
  width:30px; 
  height:30px; 
  border:0px;
}

.my_btn{
  display:inline-block; 
  width:30px; 
  height:30px; 
  border:0px;
}
.my_btn:hover {
background-color:#333;
cursor:pointer;
}

#date_progress{  
  display:inline-block; 
  width:480px; 
  height:5px; 
  background:#eee; 
  margin-top:12.5px; 
  margin-left:10px; 
  margin-right:5px;
  border-radius:3px;
}

#knob{
  display:inline; 
  position:relative; 
  left:480px; 
  top:-22px; 
  transition: left .05s ease;
}

#knob:hover{
  cursor:pointer;
}

#current_time{
  position: relative;
  display: inline-block;
  top: -60px;
  background:white;
  visibility:hidden;
  border-radius:10px;
  padding:2px;
}

    /* detail_box */
#detail_box{
  width:100%;
  height:auto;
  pointer-events: auto;  
  visibility: hidden;
}

#info_box{
  width:100%;
  height:50px;
  margin:0;
}

#current_location{
  font-size:0.75em;

}

#detail_data{
overflow:scroll;  
}


#detail_table tr{
background: white;
text-align: center;
height:15px;
font-size:0.7em;
white-space: nowrap;
}

#detail_table .table_header{
background:#aaaaaa;
font-weight:bold;
font-size:1em;
}


.leaflet-control{
top:50px;
}



.on_map_info{
background:white;
border-radius:3px;  
}
.display-none{
border:0px;
}

#design{
  width:10px;
  height:30px;   
  }