body,
        html {
            height: 100%;
            margin: 0;
        }

        #map {
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .overlay {
            position: fixed;
            z-index: 2;
        }

        #cw {
            position: absolute;
            z-index: 1;
            opacity: 0.4;
            pointer-events: none;
        }
        #canvas {
            position: absolute;
            z-index: 1;
            opacity: 0.4;
            pointer-events: none;
        }

        #playWind {
            margin-left: 10px;
        }
        
        #showtemp {
            margin-left: 60px;
        }

        #status {
            margin-left: 130px;
        }

        #range1 {
            bottom: 20px;
            left: 30px;
        }

        #windCount {
            bottom: 20px;
            left: 180px;
        }

        #category {
            bottom: 10px;
            margin: 30px;
        }

        #speed7 {
            
            color: white;
        }

        #speed5 {
            
            color: white;
        }

        #speed3 {
            
            color: white;
        }

        #speed1 {
            
            color: white;
        }

        #speed0 {
            
            color: white;
        }

        #range2 {
            bottom: 20px;
            left: 250px;
        }

        #showSpeed {
            bottom: 20px;
            left : 400px;
        }

        #colorBar{
            position: fixed;
            z-index: 3;
            bottom: 25px;
            left: 500px  ;
            background: linear-gradient( to right, green,yellow, red );
            width: 300px;
            height:20px;
        }
