body,html {
  height: 100%;
  margin: 0;
}

#map{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index:1;
  opacity: 1;
  cursor: default;
}

#heatmap {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  opacity: 1;
}

#windmap {
  position: absolute;
  pointer-events: none;
  z-index: 3;   
  opacity:1;
  
}
/* Overlay */
#overlay {
  position:absolute;
  z-index: 999;
  width:100%;
  height: 100%;
  pointer-events: none;    
}

  /* search box */
#search_box{
  position:absolute;
  top:10px;
  left:10px;
  pointer-events: auto;
}

  /* control box */
#control_box{
  position:absolute;
  right:30px;
  top:30px;
  opacity: 0.8;     
  pointer-events: auto;
  border-radius:5px;
  width:250px;
}

#weather_box{
  background:white;
  border-radius:5px;
}

#network_box{
  background:white;
  margin-top:30px;
  border-radius:5px;
}

#wind_box{
  background:white;
  margin-top:30px;
  border-radius:5px;
}

  /* bottom box */
#bottom_box{
  position:absolute;
  bottom:30px;
  pointer-events: auto;
  width:90%;
  height:auto;   
  margin-left:20px;
}

    /* timeline control box */
#timeline_control_box{
  width:600px; 
  height:30px; 
  background:gray;
}

#timeline_button_box{
  display:inline-block; 
  width:100px; 
  height:30px; 
  float:left;
}

#timeline_button{
  display:inline-block; 
  width:30px; 
  height:30px; 
  border:0px;
}

.my_btn{
  display:inline-block; 
  width:30px; 
  height:30px; 
  border:0px;
}
.my_btn:hover {
background-color:#333;
cursor:pointer;
}

#date_progress{  
  display:inline-block; 
  width:480px; 
  height:5px; 
  background:#eee; 
  margin-top:12.5px; 
  margin-left:10px; 
  margin-right:5px;
}

#knob{
  display:inline; 
  position:relative; 
  left:0px; 
  top:-22px; 
  transition: left .1s ease;
}

#knob:hover{
  cursor:pointer;
}
    /* detail_box */
#detail_box{
  width:100%;
  height:auto;
  pointer-events: auto;  
  visibility: hidden;
}

#info_box{
  width:100%;
  height:40px;
  margin:0;
}

#detail_data{
overflow:scroll;  
}


#detail_table tr{
background: white;
text-align: center;
height:15px;
font-size:0.7em;
white-space: nowrap;
}

#detail_table .table_header{
background:#aaaaaa;
font-weight:bold;
font-size:1em;
}


.leaflet-control{
top:50px;
}



.on_map_info{
background:white;
border-radius:5px;  
}
.display-none{
border:0px;
}

#design{
  width:10px;
  height:30px;   
  }